:root {
  box-sizing: border-box;

  --side-margin: 3%;
}

.form {
  margin: 20px 3% 0;
}

.form__input {
  margin: 0;
}

.form__droplist {
  position: relative;
  top: -22px;
}

.section {
  padding: 0 var(--side-margin) 0;
}

.grid {
  padding: 0 var(--side-margin) 0;
}

.grid__element {
  border: 1px solid red;
}