:root {
  box-sizing: border-box;
}

.form {
  margin: 20px 3% 0;
}

.form__input {
  margin: 0;
}

.form__droplist {
  position: relative;
  top: -22px;
}

.section {
  padding: 0 3% 0;
  /* max-width: 100%; */
}
