.icecream-list {
  margin: 0 auto 20px;
  padding: 0;
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;

  list-style: none;
}

.input {
  display: block;
  margin: 0 auto 20px;
  padding: 0 0 0 5px;
  width: calc(100% - 30vw + 20px);
  height: 24px;

  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline-color: black; /* цвет обводки — жёлтый */
  outline-style: solid;/* стиль линии — прерывистая */
  outline-width: 1px; /* толщина обводки — 3px */
}

.input-label {
  display: block;
  margin: 0 auto 5px;
  width: calc(100% - 30vw + 20px);
}

.show-more-btn {
  margin: 10px 60px;
  height: 30px;
  width: calc(100% - 120px);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid grey;
}

.show-more-btn:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-color: rgba(128, 128, 128, 0.7);
}

@media screen and (width < 1000px) {
  .icecream-list {
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 620px) {
  .icecream-list {
    max-width: 540px;
    grid-template-columns: 1fr;
  }
}